{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
  <title>Download | Vidicu </title>

  <!-- Favicon -->
  <meta charset="utf-8">
  <meta name="author" content="Vidicu" />
  <meta name=”robots” content="index, follow">
  <link rel="canonical" href="https://vidicu.live/download/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://vidicu.live"/>
  <meta property="twitter:title" content="" />
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="vidicu banner">
  <meta property="twitter:image:alt" content="Vidicu logo">
  <meta name="twitter:site" content="@vidiculive">
  

  <meta property="og:type" content="website" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="vidicu banner" />
  <meta property="og:url" content="https://vidicu.live/download" />
  <meta property="og:site_name" content="Vidicu" />
  <meta property="og:locale" content="pl_PL" />
  <meta property="og:locale:alternate" content="en_US" />
    

  <meta name="description" content=""/> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="vidicu, vidicu.live, ai powered video conferencing, ai powered, video calls, virtual meetings, group video chat, calling, meetings, webinars, video collaboration, live translate, group messaging, virtual meetings, cloud meeting" name="keywords">
  
  <!-- Title -->

  <!-- Favicon -->
  <link rel="icon"  type="image/png" href="{% static 'favicon.png' %}">
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap" rel="stylesheet">


  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css' %}">

  <!-- CSS Unify Template -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
</head>

<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="{% url 'core:home' %}" aria-label="VidView">
          <img class="navbar-brand-logo" src="{% static 'icons/logo.png' %}" alt="Image Description">
        </a>
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav nav-pills">
        

      

            <!-- Log in -->
            <li class="nav-item ms-lg-auto">
              <a class="btn btn-white me-2 me-lg-0" href="{% url 'core:pricing'  %}">Pricing</a>
              <a class="btn btn-dark d-lg-none" href="{% url 'core:home' %}">Go Home</a>
            </li>
            <!-- End Log in -->

            <!-- Sign up -->
            <li class="nav-item">
              <a class="btn btn-dark d-none d-lg-inline-block" href="{% url 'core:home'  %}">Go Home</a>
            </li>
            <!-- End Sign up -->
          </ul>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="shape-container overflow-hidden">
      <div style="background-image: url('/static/wallpaper/download.jpg');" class="bg-dark position-relative">
        <div class="container content-space-1 content-space-t-lg-3 content-space-b-md-3 content-space-b-lg-4">
          <div class="position-relative w-lg-75 text-center mx-lg-auto">
            <div class="mb-7">
              <h1 class="text-white">Start 14 days  <span class="text-primary"> free trial</span></h1>
              <h5 class="lead text-white-70">One platform, With all the ways to connect. Get started for free. Do not miss it, subscribe below to keep updated.</h5>
            </div>

            <div class="row">
              <div class="col-md-12 my-auto"> 
                <h2 class="js-cd-hours h1 text-white mb-0"><a class="btn btn-primary btn-pointer" href="#downloadblock">Get Started </a></h2>           										
              </div>
              <!-- End Col -->
            
            </div>
            <!-- End Row -->
          </div>
        </div>
      </div>

      <!-- Shape -->
      <div class="shape shape-bottom zi-1" style="margin-bottom: -.125rem">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
          <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
        </svg>
      </div>
      <!-- End Shape -->
    </div>
    <!-- End Hero -->

    <!-- Icon Blocks -->
    <div class="container content-space-1 content-space-t-lg-3">


      <div class="row justify-content-center">
        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Icon Block -->
          <div id="downloadblock"class="text-center mx-md-3">

              
            <div class="col-md-6 mb-5 mb-md-0">
              <!-- Icon Block -->
    
              <!-- End Icon Block -->
            </div>

            <div class="mb-3">
              <img src="{% static 'assets/download_icons/windows.png'  %}"  width="96" height="96" alt="windows download logo" />
            </div>
            <h5>Windows</h5>
            <p><a class="btn btn-white" href="{% url 'core:installer'  'windows' %}">Download For Windows</a></p>
          </div>
          <!-- End Icon Block -->
        </div>
        <!-- End Col -->


        <!-- End Col -->

        <div class="col-md-3">
          <!-- Icon Block -->
          <div class="text-center mx-md-3">
            <div class="mb-3">
                <img src="{% static 'assets/download_icons/linux.png'  %}"  width="96" height="96" alt="linux download logo" />
            </div>
            <h5>Linux</h5>
            <!--  {% url 'core:installer' 'linux' %} -->
            <p><a class="btn btn-white" href="{% url 'core:installer'  'linux' %}"> Download For Linux </a></p>
            
          </div>
          <!-- End Icon Block -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Icon Blocks -->



    <!-- Features Block -->
    <div class="container content-space-1 content-space-t-lg-3">
            <!-- Heading -->
            <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
              <h2>{{ download_article.heading }}</h2>
              <p>{{ download_article.heading_description }}</p>
            </div>
            <!-- End Heading -->
      
            <div class="row">
              <div class="col-md-4 mb-5 mb-md-0">
                <!-- Icon Block -->
                <div class="text-center mx-md-3">
                  <div class="mb-3">
                    <i class="bi-laptop fs-1"></i>
                  </div>
                  <h5>{{ download_article.second_heading }}</h5>
                  <p>{{ download_article.second_heading_description }}</p>
                </div>
                <!-- End Icon Block -->
              </div>
              <!-- End Col -->
      
              <div class="col-md-4 mb-5 mb-md-0">
                <!-- Icon Block -->
                <div class="text-center mx-md-3">
                  <div class="mb-3">
                    <i class="bi-droplet-half fs-1"></i>
                  </div>
                  <h5>{{ download_article.third_heading }}</h5>
                  <p>{{ download_article.third_heading_description }}</p>
                </div>
                <!-- End Icon Block -->
              </div>
              <!-- End Col -->
      
              <div class="col-md-4">
                <!-- Icon Block -->
                <div class="text-center mx-md-3">
                  <div class="mb-3">
                    <i class="bi-award fs-1"></i>
                  </div>
                  <h5>{{ download_article.fourth_heading }}</h5>
                  <p>{{ download_article.fourth_heading_description }}</p>
                </div>
                <!-- End Icon Block -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
    </div>
    <!-- Features Block -->

  
    <!-- Subscribe -->
    <div class="container content-space-1 content-space-lg-3">
      <!-- Heading -->
      <div class="w-lg-65 text-center mx-lg-auto mb-7">
        <h5>Subscribe to get notified when the mobile app is released! </h5>
      </div>
      <!-- End Heading -->

      <div class="text-center mx-auto" style="max-width: 32rem;">
        <form>
          <!-- Input Card -->
          <div class="input-card border mb-5">
            <div class="input-card-form">
              <label for="subscribeForm" class="form-label visually-hidden">Enter email</label>
              <input type="email" class="form-control form-control-lg" id="subscribeForm" placeholder="Enter email" aria-label="Enter email">
            </div>
            <button type="button" class="btn btn-primary btn-lg" id="heroNameAddOn">Subscribe</button>
          </div>
          <!-- End Input Card -->
        </form>

        <a class="link" href="#"><img src="{% static 'icons/playstore.png'  %}" width="50px" height="50px" /> &nbsp; <img src="{% static 'icons/appstore.png' %}" width="50px" height="50px" /></a>
        
      </div>
    </div>
    <!-- End Subscribe -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  {% include 'footer.html'  %}
  <!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory  -->
  <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'assets/vendor/hs-header/dist/hs-header.min.js' %}"></script>
  <script src="{% static 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js' %}"></script>
  <script src="{% static 'assets/vendor/countdown/countdown.js' %}"></script>

  <!-- JS Unify -->
  <script src="{% static 'assets/js/theme.min.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF NAVBAR
      // =======================================================
      new HSHeader('#header').init()

      
      // INITIALIZATION OF MEGA MENU
      // =======================================================
      const megaMenu = new HSMegaMenu('.js-mega-menu', {
        desktop: {
          position: 'left'
        }
      })


      // INITIALIZATION OF COUNTDOWN
      // =======================================================
      const oneYearFromNow = new Date()

      document.querySelectorAll('.js-countdown').forEach(item => {
        const days = item.querySelector('.js-cd-days'),
          hours = item.querySelector('.js-cd-hours'),
          minutes = item.querySelector('.js-cd-minutes'),
          seconds = item.querySelector('.js-cd-seconds')

        countdown(oneYearFromNow.setFullYear(
          oneYearFromNow.getFullYear() + 1),
          ts => {
            days.innerHTML = ts.days
            hours.innerHTML = ts.hours
            minutes.innerHTML = ts.minutes
            seconds.innerHTML = ts.seconds
          },
          countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS
        )
      })
    })()
  </script>
</body>


</html>