{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">


<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Customer Stories | Vidicu </title>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">

  <!-- CSS Unify Template -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
</head>

<body>
  <!-- ========== HEADER ========== -->
  {% include 'header.html'  %}
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Card List -->
    <div class="overflow-hidden">
      <div class="container content-space-2 content-space-lg-3">
        <div class="row justify-content-lg-between align-items-md-center">
          <div class="col-md-6 col-lg-5 mb-10 mb-md-0">
            <div class="position-relative">
              <img class="img-fluid rounded-3" src="{{ first_content.company_picture_large.url }}" width="500" height="500" alt="{{ first_content.company_picture_description }}">

              <!-- SVG Shape -->
              <figure class="position-absolute top-0 end-0 d-none d-lg-block mt-3 me-n7" style="width: 4rem;">
                <img class="img-fluid" src="{% static 'assets/svg/components/pointer-up.svg' %}" width="192" height="104" alt="pointer deco">
              </figure>
              <!-- End SVG Shape -->

              <!-- SVG Shape -->
              <figure class="position-absolute bottom-0 start-0 mb-n8 ms-n8" style="width: 12rem;">
                <img class="img-fluid" src="{% static 'assets/svg/components/curved-shape.svg' %}" width="192" height="104" alt="curved deco">
              </figure>
              <!-- End SVG Shape -->
            </div>
          </div>
          <!-- End Col -->

          <div class="col-md-6">
            <div class="mb-5">
              <h2 class="h1">{{ first_content.testimonal_title }}</h2>
            </div>
            <a class="btn btn-primary btn-pointer" href="{{ first_content.get_absolute_url }}">Read story</a>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Card List -->
<!-- -->

    <!-- Card Grid -->
    <div class="container content-space-t-2 content-space-t-lg-3 content-space-b-lg-2">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

        {% for stories in customer_stories %}

          {% if forloop.counter >= 2 %}
            <div class="col mb-5 mb-sm-10">
              <!-- Card -->
              <a class="card card-ghost card-transition-zoom h-100" href="{{ stories.get_absolute_url }}">
                <div class="card-transition-zoom-item">
                  <img class="card-img" src="{{ stories.company_picture_small.url }}" width="{{ stories.company_picture_small.width }}" height="{{  stories.company_picture_small.height }}"  alt="{{ stories.company_picture_description }}">
                </div>

                <div class="card-body">
                  <div class="mb-3">
                    <img class="avatar avatar-lg avatar-4x3" src="{{ stories.company_logo.url  }}" alt="company logo">
                  </div>
                  <h5>{{ stories.testimonal_title  }}</h5>
                </div>

                <div class="card-footer mt-n5 mt-sm-0">
                  <span class="card-link">Read customer story</span>
                </div>
              </a>
              <!-- End Card -->
            </div>
          {% endif %}

        {% endfor %}
        <!-- End Col -->

      
      </div>
      <!-- End Row -->
    </div>
    <!-- End Card Grid -->


    <!-- Testimonials -->
    <div class="container">
      <div class="w-lg-75 text-center mx-lg-auto">
        <div class="mb-5">
          <img class="avatar avatar-xl avatar-4x3" src="{{ blockquote.company_logo_img.url }}" width="{{ blockquote.company_logo_img.width  }}" height="{{ blockquote.company_logo_img.height }}" alt="blockquote company logo">
        </div>

        <figure class="blockquote-lg">
          <blockquote class="blockquote"> {{ blockquote.quote }}</blockquote>

          <figcaption class="blockquote-footer mb-3 mb-sm-7">
            {{ blockquote.name }}
            <span class="blockquote-footer-source">{{ blockquote.title }}</span>
          </figcaption>
        </figure>

       
      </div>
    </div>
    <!-- End Testimonials -->

  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
 {% include 'footer.html' %}
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Global Compulsory  -->
  <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- JS Implementing Plugins -->
  <script src="{% static 'assets/vendor/hs-header/dist/hs-header.min.js' %}"></script>
  <script src="{% static 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js' %}"></script>
  <script src="{% static 'assets/vendor/hs-go-to/dist/hs-go-to.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- JS Unify -->
  <script src="{% static 'assets/js/theme.min.js' %}"></script>

  <script>
    $(document).ready(function () {
        // catch the form's submit event
        $('#SubscribeForm').submit(function () {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: "{% url 'core:subscribe' %}",
                // on success
                success: function (response) {
                    var message = "Thank you for reaching us out " + response.name
                    swal("Success!", message, "success");
                    document.getElementById("contactForm").reset();
                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    alert(response.responseJSON.errors);
                    console.log(response.responseJSON.errors)
                }
            });
            return false;
        });
    })
</script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF NAVBAR
      // =======================================================
      new HSHeader('#header').init()


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      const megaMenu = new HSMegaMenu('.js-mega-menu', {
        desktop: {
          position: 'left'
        }
      })


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')


      // INITIALIZATION OF SWIPER
      // =======================================================
      var swiper = new Swiper('.js-swiper-clients-1',{
        slidesPerView: 2,
        autoplay: true,
        loop: true,
        breakpoints: {
          380: {
            slidesPerView: 3,
            spaceBetween: 15,
          },
          768: {
            slidesPerView: 4,
            spaceBetween: 15,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 15,
          },
        },
      });

      // Clients 2
      var swiper = new Swiper('.js-swiper-clients-2',{
        slidesPerView: 2,
        autoplay: true,
        loop: true,
        breakpoints: {
          380: {
            slidesPerView: 3,
            spaceBetween: 15,
          },
          768: {
            slidesPerView: 4,
            spaceBetween: 15,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 15,
          },
        },
      });
    })()
  </script>
</body>


</html>