{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
  <!-- Required Meta Tags Always Come First -->

  <!-- Title -->
  <title>Terms &amp; Conditions | Vidicu </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Vidicu" />
  <link rel="canonical" href="https://vidicu.live/terms-of-use/">
  
  <!-- Title -->

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css' %}">
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
  <!-- CSS Unify Template -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
</head>

<body>
  <!-- ========== HEADER ========== -->
  {% include 'header.html' %}

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="bg-light">
      <div class="container position-relative content-space-1 content-space-lg-2">
        <h1 class="text-dark">Terms &amp; Conditions</h1>
      
      </div>
    </div>
    <!-- End Hero -->

    <!-- Description -->
    <div class="container content-space-1 content-space-lg-3">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
          <!-- Navbar -->
          <div class="navbar-expand-md">
            <div class="d-grid mb-3">
              <!-- Navbar Toggle -->
              <button type="button" class="navbar-toggler btn btn-white w-100" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark mb-0">Menu</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
              <!-- End Navbar Toggle -->
            </div>

            <!-- Navbar Collapse -->
            <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
              <ul id="navbarSettings" class="js-sticky-block js-scrollspy nav nav-tabs nav-link-gray nav-vertical" data-hs-sticky-block-options='{
                   "parentSelector": "#navbarVerticalNavMenu",
                   "targetSelector": "#header",
                   "breakpoint": "md",
                   "startPoint": "#navbarVerticalNavMenu",
                   "endPoint": "#stickyBlockEndPoint",
                   "stickyOffsetTop": 20
                 }'>
                <li class="nav-item">
                  <a class="nav-link active" href="#">1. General Disclaimer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">2. Acceptance of Terms of Service</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">3. Eligibility</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">4. Content</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">5. Availability</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">6. Limits</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">7. Beta Services</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">8. Ownership and Data Usage</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">9. License to Customer Data</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">10. Aggregate Data </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">11. Representations and Warranties</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">12. Fonts</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">13. Sharing</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">14. Enforcement </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">15. Third-Party Services </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">16. Payments and Billing </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">17. Payment </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">18. Taxes </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">19. Billing </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">20. Auto-Renewal </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">21. Current Information Required </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">22. Change in Amount Authorized </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">23. No Refunds  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">24. Non-payment  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">25. Copyright Policy  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">26. Procedure for Reporting Copyright Infringement:  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">27. Identification of works or materials being infringed  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">28. Confidentiality  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">29. Data Security  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">30. Termination  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">31. Customer Data After Termination  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">32. Warranty Disclaimer  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">33. Indemnification  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">34. Miscellaneous  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">35. Force Majeure  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">36. Assignment </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">37. Notices  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">38. No Waiver  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">39. Headings  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">40. Publicity  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">41. Limitation of Claims  </a>
                </li>

              </ul>
            </div>
            <!-- End Navbar Collapse -->
          </div>
          <!-- End Navbar -->
        </div>
        <!-- End Col -->

        <div class="col-md-8 col-lg-9">
          <div class="mb-7">
            {% autoescape off %}
                {{ terms_of_use.content }}
            {% endautoescape %}
          </div>

          <!-- End Sticky End Point -->
          <div id="stickyBlockEndPoint"></div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Description -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
    {% include 'footer.html' %}
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Global Compulsory  -->
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="assets/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
  <script src="assets/vendor/hs-scrollspy/dist/hs-scrollspy.min.js"></script>

  <!-- JS Unify -->
  <script src="assets/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF NAVBAR
      // =======================================================
      new HSHeader('#header').init()

      
      // INITIALIZATION OF MEGA MENU
      // =======================================================
      const megaMenu = new HSMegaMenu('.js-mega-menu', {
        desktop: {
          position: 'left'
        }
      })


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')


      // INITIALIZATION OF STICKY BLOCKS
      // =======================================================
       new HSStickyBlock('.js-sticky-block', {
        targetSelector: document.getElementById('header').classList.contains('navbar-fixed') ? '#header' : null
      })


      // SCROLLSPY
      // =======================================================
      new bootstrap.ScrollSpy(document.body, {
        target: '#navbarSettings',
        offset: 10
      })

      new HSScrollspy('#navbarVerticalNavMenu', {
        breakpoint: 'lg'
      })
    })()
  </script>
</body>


</html>