{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
  <!-- Required Meta Tags Always Come First -->

  <!-- Title -->
  <title>Terms &amp; Conditions | Vidicu </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Vidicu" />
  <meta name=”robots” content="index, follow">
  <link rel="canonical" href="https://vidicu.live/terms-of-use/">

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://vidicu.live"/>
  <meta property="twitter:title" content="Vidicu | AI Powered Video Conferencing, Video Calls, Online Meetings" />
  <meta name="twitter:description" content="Vidicu is a cloud-based video conferencing platform that offers a range of AI-powered features to make virtual meetings more efficient and engaging. With Vidicu, you can host high-quality video and audio meetings, share screens, and collaborate with team members in real-tim">
  <meta name="twitter:image" content="vidicu banner">
  <meta property="twitter:image:alt" content="Vidicu logo">
  <meta name="twitter:site" content="@vidiculive">
  

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Vidicu | AI Powered Video Conferencing, Video Calls, Online Meetings" />
  <meta property="og:description" content="Vidicu is a cloud-based video conferencing platform that offers a range of AI-powered features to make virtual meetings more efficient and engaging. With Vidicu, you can host high-quality video and audio meetings, share screens, and collaborate with team members in real-time" />
  <meta property="og:image" content="vidicu banner" />
  <meta property="og:url" content="https://vidicu.live/" />
  <meta property="og:site_name" content="Vidicu" />
  <meta property="og:locale" content="pl_PL" />
  <meta property="og:locale:alternate" content="en_US" />


  <meta name="description" content="Vidicu is a cloud-based video conferencing platform that offers a range of AI-powered features to make virtual meetings more efficient and engaging. With Vidicu, you can host high-quality video and audio meetings, share screens, and collaborate with team members in real-time."/> 
  <meta content="vidicu, vidicu.live, ai powered video conferencing, ai powered, video calls, virtual meetings, group video chat, calling, meetings, webinars, video collaboration, live translate, group messaging, virtual meetings, cloud meeting" name="keywords">
  
  <!-- Title -->

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css' %}">

  <!-- CSS Unify Template -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
</head>

<body>
  <!-- ========== HEADER ========== -->
  {% include 'header.html' %}

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="bg-light">
      <div class="container position-relative content-space-1 content-space-lg-2">
        <h1 class="text-dark">Terms &amp; Conditions</h1>
      
      </div>
    </div>
    <!-- End Hero -->

    <!-- Description -->
    <div class="container content-space-1 content-space-lg-3">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
          <!-- Navbar -->
          <div class="navbar-expand-md">
            <div class="d-grid mb-3">
              <!-- Navbar Toggle -->
              <button type="button" class="navbar-toggler btn btn-white w-100" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark mb-0">Menu</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
              <!-- End Navbar Toggle -->
            </div>

            <!-- Navbar Collapse -->
            <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
              <ul id="navbarSettings" class="js-sticky-block js-scrollspy nav nav-tabs nav-link-gray nav-vertical" data-hs-sticky-block-options='{
                   "parentSelector": "#navbarVerticalNavMenu",
                   "targetSelector": "#header",
                   "breakpoint": "md",
                   "startPoint": "#navbarVerticalNavMenu",
                   "endPoint": "#stickyBlockEndPoint",
                   "stickyOffsetTop": 20
                 }'>
                <li class="nav-item">
                  <a class="nav-link active" href="#content">1. Accounts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#linksToOtherWebsInfo">2. Links to other websites</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#terminationInfo">3. Termination</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#goveringLawInfo">4. Governing law</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#changesInfo">5. Changes</a>
                </li>
              </ul>
            </div>
            <!-- End Navbar Collapse -->
          </div>
          <!-- End Navbar -->
        </div>
        <!-- End Col -->

        <div class="col-md-8 col-lg-9">
          <div class="mb-7">
            {% autoescape off %}
                {{ terms_of_use.content }}
            {% endautoescape %}
          </div>

          <!-- End Sticky End Point -->
          <div id="stickyBlockEndPoint"></div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Description -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
    {% include 'footer.html' %}
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Global Compulsory  -->
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="assets/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
  <script src="assets/vendor/hs-scrollspy/dist/hs-scrollspy.min.js"></script>

  <!-- JS Unify -->
  <script src="assets/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF NAVBAR
      // =======================================================
      new HSHeader('#header').init()

      
      // INITIALIZATION OF MEGA MENU
      // =======================================================
      const megaMenu = new HSMegaMenu('.js-mega-menu', {
        desktop: {
          position: 'left'
        }
      })


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')


      // INITIALIZATION OF STICKY BLOCKS
      // =======================================================
       new HSStickyBlock('.js-sticky-block', {
        targetSelector: document.getElementById('header').classList.contains('navbar-fixed') ? '#header' : null
      })


      // SCROLLSPY
      // =======================================================
      new bootstrap.ScrollSpy(document.body, {
        target: '#navbarSettings',
        offset: 10
      })

      new HSScrollspy('#navbarVerticalNavMenu', {
        breakpoint: 'lg'
      })
    })()
  </script>
</body>


</html>