
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  

<head>
    <!--  Title -->
    <title>Login | Novavideocall</title>
    <!--  Required Meta Tag -->
  <meta name="author" content="Novavideocall" />
  <meta name="robots" content="index, follow">
  <meta name="template" content="home-page"/>
  <link rel="canonical" href="https://novavideocall.live/accounts/auth/login/">

  <meta property="twitter:card" content="summary" />
  <meta property="twitter:url" content="https://novavideocall.live/accounts/auth/login/"/>
  <meta property="twitter:title" content="@novaviddeocall" />
  <meta name="twitter:description" content="Sign in to your Novavideocall account to join a meeting, update your profile, change your settings, and more!">
  <meta name="twitter:image" content="https://novavideocall.live/static/novavideocall.jpg">
  <meta property="twitter:image:alt" content="https://novavideocall.live/static/icons/logo.png">
  <meta name="twitter:site" content="@novaviddeocall">
  

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Login | Novavideocall" />
  <meta property="og:description" content="Sign in to your Novavideocall account to join a meeting, update your profile, change your settings, and more!" />
  <meta property="og:image" content="https://novavideocall.live/static/novavideocall.jpg/" />
  <meta property="og:url" content="https://novavideocall.live/accounts/auth/login/" />
  <meta property="og:site_name" content="Novavideocall" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
  <link rel="icon"  type="image/png" href="{% static 'favicon.png' %}">
    <!-- Core Css -->
    
    <link  id="themeColors"  rel="stylesheet" href="{% static 'auth/dist/css/style.min.css' %}" />
  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader">
      <img src="{% static 'favicon.png' %}" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
      <img src="{% static 'favicon.png' %}" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
            
                       
      <div class="position-relative overflow-hidden radial-gradient min-vh-100">
        <div class="position-relative z-index-5">
          <div class="row">
            <div class="col-xl-7 col-xxl-8">
              <a href="{% url 'core:home'  %}" class="text-nowrap logo-img d-block px-4 py-9 w-100">
                <img src="{% static 'icons/logo-full.png' %}" width="180" alt="">
              </a>
              <div class="d-none d-xl-flex align-items-center justify-content-center" style="height: calc(100vh - 80px);">
                <img src="{% static 'auth/welcome_wallpaper.png'  %}" alt="" class="img-fluid" width="500">
              </div>
            </div>
            <div class="col-xl-5 col-xxl-4">
              <div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center p-4">
                <div class="col-sm-8 col-md-6 col-xl-9">
                  <h2 class="mb-3 fs-7 fw-bolder">Welcome to Novavideocall</h2>
                  <p class=" mb-9">Your Admin Dashboard</p>
                  <div class="row">

                      

                    <div class="col-6 mb-2 mb-sm-0">
                      <a id="clickme" class="btn btn-white text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8" href="javascript:void(0)" role="button">
                        <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/google-icon.svg" alt="" class="img-fluid me-2" width="18" height="18">
                        <span class="d-none d-sm-block me-1 flex-shrink-0">Sign in with</span>Google
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="btn btn-white text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8" href="javascript:void(0)" role="button">
                        <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/facebook-icon.svg" alt="" class="img-fluid me-2" width="18" height="18">
                        <span class="d-none d-sm-block me-1 flex-shrink-0">Sign in with</span>FB
                      </a>
                    </div>
                  </div>
                  <div class="position-relative text-center my-4">
                    <p class="mb-0 fs-4 px-3 d-inline-block bg-white text-dark z-index-5 position-relative">or sign in with</p>
                
                    <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>

                    
                  </div>

                  <div class="text-center my-4">
                      <span style="color:red;">{{ form.non_field_errors }}</span>
                  </div>
                  
                  <form action="{% url 'account:login' %}" method="POST" onsubmit='disableButton()'>
                    {% csrf_token %}

                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Username</label>
                      
                      {% render_field form.username  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" %}
                
                    </div>
            

                    <div class="mb-4">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      {% render_field form.password  class="form-control" id="exampleInputPassword1" %}
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                      <div class="form-check">
                        <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label text-dark" for="flexCheckChecked">
                          Remeber this Device
                        </label>
                      </div>
                      <a class="text-primary fw-medium" href="{% url 'account:forgotpassword' %}">Forgot Password ?</a>
                    </div>
                    <button  id='btn' type="submit" class="btn btn-primary w-100 py-8 mb-4 rounded-2">Sign In </button>
                    <div class="d-flex align-items-center justify-content-center">
                      <p class="fs-4 mb-0 fw-medium">New to Novavideocall?</p>
                      <a class="text-primary fw-medium ms-2" href="{% url 'account:signup'  %}">Create an account</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

      
    <!--  Import Js Files -->

    <script>
      function disableButton() {
          var btn = document.getElementById('btn');
          btn.disabled = true;
          btn.innerText = 'Please Wait...'
      }
    </script>
    
    <script src="{% static 'auth/dist/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'auth/dist/libs/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'auth/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!--  core files -->
    
    <script src="{% static 'auth/dist/js/app.min.js' %}"></script>
    <script src="{% static 'auth/dist/js/app.init.js' %}"></script>
    <script src="{% static 'auth/dist/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'auth/dist/js/sidebarmenu.js' %}"></script>
    
    <script src="{% static 'auth/dist/js/custom.js' %}"></script>
  </body>


</html>